#emoji-selector {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50%;
    white-space: normal;
}

.panel-body {
  background-color: grey;
}

#board {
  border-style: solid 1px black;
  border-color: black;
  background-color: grey;
  position: static;
  right: 0;
  bottom: 0;
  width: 65%;
  height: 70%;
}

#player {
  margin-top: 15px;
  float: right;
}

.emoji {
    width: 40px;
    height: 40px;
    padding: 3px;
    float: left;
}

* {
    box-sizing: border-box;
}
